ADMIN_USER="zhuzi"
ADMIN_PASSWORD="99999999"
ADMIN_EMAIL="avgo265@gmail.com"
JWT_SECRET="111"
DATABASE_SCHEMA="public"
DATABASE_URL="postgres://default:IRP3LKGzxBl1@ep-lucky-sunset-a11d47px-pooler.ap-southeast-1.aws.neon.tech:5432/verceldb?pgbouncer=true&connect_timeout=15"
SHADOW_DATABASE_URL=""

# 复制到服务器上的 .env 文件 然后执行docker compose 命令

# GitHub 配置
# GitHub 用户名
NUXT_PUBLIC_GITHUB_OWNER=
# 用于存储图片的仓库名称
NUXT_PUBLIC_GITHUB_REPO=
# GitHub Personal Access Token
NUXT_PUBLIC_GITHUB_TOKEN=ghp_  # 替换为新生成的 token
# 默认分支名称
NUXT_PUBLIC_GITHUB_BRANCH=
