ADMIN_USER="zhuzi"
ADMIN_PASSWORD="999999"
ADMIN_EMAIL="avgo265@gmail.com"
JWT_SECRET="111"
DATABASE_SCHEMA="public"
DATABASE_URL="postgres://default:IRP3LKGzxBl1@ep-lucky-sunset-a11d47px-pooler.ap-southeast-1.aws.neon.tech:5432/verceldb""


# 复制到服务器上的 .env 文件 然后执行docker compose 命令
